
RUN_INTEGRATION_TESTS=false
CREATIVEDRIVE_API_KEY=your_creative_drive_api_key_here
CREATIVE_DRIVE_API_BASE_URL=https://sandbox-share-api.creativedrive.com
BYNDER_CLIENT_ID=your_bynder_client_id_here
BYNDER_CLIENT_SECRET=your_bynder_client_secret_here
BYNDER_ACCESS_TOKEN_URL=your_bynder_access_token_url_here
BYNDER_API_BASE_URL=your_bynder_api_base_url_here

CD_SUBFOLDER_ID=104547
CD_ASSET_ID=4833028
CD_DIVISION_ID=76